/* STYLE GENERAL */

:root {
    /*Fonts styles*/
    --mainFont: "Roboto", sans-serif;
  
    /*Box model*/
    --outerBox: 0.5rem; /*for margin equivalent to 8px (16px = 1rem)*/
    --innerBox: 0.5rem; /* for padding equivalent to 8px*/
  
    /*Font sizes mobile*/
    --headOneMobile: 2.25rem;
    --headTwoMobile: 1.25 rem;
    --headThreeMobile: 1.25 rem;
    --headTextMobile: 1rem;
    /*Font sizes Ipad*/
    --headOneIpad: 2.5rem;
    --headTwoIpad: 1.25 rem;
    --headThreeIpad: 1.25 rem;
    --headTextIpad: 1.6rem;
    /*Font sizes Laptop*/
    --headOneLaptop: 4rem;
    --headTwoLaptop: 2rem;
    --headThreeLaptop: 1rem;
    --headTextLaptop: 1.6rem;
    /*Font size default*/
    --textDefault: 1rem;
  
    /*Colors*/
    --degrade: linear-gradient(
      90deg,
      rgba(173, 43, 117, 1) 28%,
      rgba(224, 64, 92, 1) 68%,
      rgba(242, 106, 41, 1) 100%
    );
    --colorText: #fff;
    --colorSvg: #fff;
  }
  
  * {
    font-family: var(--mainFont);
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  body {
    background: var(--degrade);
    background-size: cover;
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  
  li > a > svg {
    height: 3rem;
  }

  .glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  .navGlass {
    height: 3.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
  }
  
  li > a > svg {
    height: 3rem;
  }

  .footerGlass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
  }

/* NAV PART */

ul {
    display: flex;
    flex-direction: row;
  }
  
li {
    width: 50px;
  }
  
.indexLogo {
    height: 40px;
  }
  
a {
    display: flex;
    flex-direction: row;
  }
  
.textMenu {
    display: none;
  }
  
svg {
    width: 48px;
    margin-right: 0;
    display: flex;
    align-items: center;
    fill: var(--colorSvg);
  }

.copyright {
    color: var(--colorText);
  }

.messageIcon {
    width: 48px;
    padding-top: 0.8rem;
    margin-left: 0.3rem;
  }
  
.supportIcon {
    padding-top: 0.5rem;
  }

/* USER PART */

.userPictures {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.userProfilPicture {
    margin: 3rem auto;
}

.userProfilPicture0 {
    border-radius: 500px;
    border: solid 3px white;
    width: 40vw;
}

.userGalleryPictures {
    margin: 0 auto;
    width: 80vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    }
    
.userGalleryPictures1 { 
    grid-area: 1 / 1 / 5 / 3; 
    background-image: url("./persons/Paul.png");
    background-size: cover;
    background-position: center;
    border: solid 3px white;
    border-radius: 7px;
}

.userGalleryPictures2 { 
    grid-area: 1 / 3 / 2 / 4; 
    background-image: url("./persons/Paul.png");
    background-size: cover;
    background-position: center;
    border: solid 3px white;
    border-radius: 7px;
}

.userGalleryPictures3 { 
    grid-area: 1 / 4 / 2 / 5; 
    background-image: url("./persons/Paul.png");
    background-size: cover;
    background-position: center;
    border: solid 3px white;
    border-radius: 7px;
}

.userGalleryPictures4 { 
    grid-area: 2 / 3 / 4 / 5; 
    background-image: url("./persons/Paul.png");
    background-size: cover;
    background-position: center;
    border: solid 3px white;
    border-radius: 7px;
}

.userGalleryPictures5 { 
    grid-area: 4 / 3 / 5 / 4; 
    background-image: url("./persons/Paul.png");
    background-size: cover;
    background-position: center;
    border: solid 3px white;
    border-radius: 7px;
}

.userGalleryPictures6 { 
    grid-area: 4 / 4 / 5 / 5; 
    background-image: url("./persons/Paul.png");
    background-size: cover;
    background-position: center;
    border: solid 3px white;
    border-radius: 7px;
}

.userNickname {
    color: var(--colorText);
    margin: 3rem auto 1rem;
    text-align: center;
}

.userInformations {
    color: var(--colorText);
    padding: 2rem;
    margin: 1rem auto 3rem;
    width: 80vw;
}

form {
    margin: 0 0 1rem 0;
}

.userIdentity {
    display: flex;
    flex-direction: column;
}

.biography {
    display: flex;
    flex-direction: column;
}

#firstName {
    margin-bottom: 1rem;
    height: 2rem;
}

#lastName {
    height: 2rem;
}

#bio {
    height: 4rem;
    resize: none;
}

/* FOOTER PART */

.instagramIcon {
    padding-top: 0.2rem;
    margin-left: 0.2rem;
  }
  
.twitterIcon {
    padding-top: 0.3rem;
  }
  
label {
    color: var(--colorText);
  }

/* MEDIA QUERIES */

@media screen and (min-width: 715px) {
    .userPictures {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 7rem;
        margin-top: 1rem;
    }    
    .userProfilPicture0 {
        width: 30vw;
    }
    .userGalleryPictures {
        width: 50vw;
        padding: 0 0 0 2rem;
    }
}