:root {
  --mainFont: "Roboto", sans-serif;

  --margin: 0.5rem;
  --padding: 0.5rem;
  /*Colors*/
  --degrade: linear-gradient(90deg,
      rgba(173, 43, 117, 1) 28%,
      rgba(224, 64, 92, 1) 68%,
      rgba(242, 106, 41, 1) 100%);
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

* {
  font-family: var(--mainFont);
  list-style: none;
  text-decoration: none;
}

body {
  background: var(--degrade);
  background-size: cover;
}

img {
  color: black;
}

li>a>svg {
  height: 3rem;
}