body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

header {
  margin-top: 0;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
  margin: 0;
}

.picture {
  text-align: center;
  margin-top: 20px;
}

.picturePaul {
  border-radius: 50%;
  max-width: 60%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.welcome-section {
  align-items: center;
  margin-top: 0;
  text-align: center;
  color: white;
  font-size: 20px;
}

.welcome-message {
  text-align: center;
  margin-bottom: 15%;
  color: white;
}

.bottom {
  text-align: center;
  padding: 20px;
  margin: 0;
  font-size: 1em;
  z-index: 100;
}

.bottom li {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: inline-block;
  padding: 0;
  object-fit: contain;
  aspect-ratio: 3/2;

  height: 30px;
}

svg {
  fill: #fff;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 600px) {
  header {
    height: 80px;
    margin-top: 2em;
  }

  .welcome-section {
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
  }

  .welcome-message {
    font-size: 15px;
  }

  fonter {
    font-size: 10px;
  }

  li {
    margin: 0 10px;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 120px;
  }

  .welcome-section {
    font-size: 1.7em;
  }

  .welcome-message {
    font-size: 1.2em;
  }

  footer {
    font-size: 10px;
  }
}
